

* {
	box-sizing: border-box;
}

.col-1 {width: 6.25%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.75%;}
.col-4 {width: 25.0%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7 {width: 43.75%;}
.col-8 {width: 50.0%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.5%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75.0%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.5%;}
.col-15 {width: 93.75%;}
.col-16 {width: 100.0%;}

.row::after {
	content: "";
	clear: both;
	display: table;
	display: table;
}

[class*="col-"] {
	float: left;
}

#sideBar {
	border: 2px solid #000000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 95%;
	margin-right: 6.25%;
	overflow: scroll;
}

#midiParams {
	border: 1px solid #000000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	left: 25%;
	bottom: 6.25%;
	text-align: center;
}

#midiSelectors {
	margin-bottom: 0%;
	width: 100%;
}

#title {
	text-align: center;
	height: 30%;
}
